:root {
    --gray_400: #7F849C;
    --gray_800: #2a3742;
}

[scheme=vkcom_dark], .vkui--vkBase--dark, .vkui--vkCom--dark {
    --vkui--theme_name: 'vkontakteComDark';
    --vkui--gradient_tint: rgba(32, 32, 33, 0) 0%, rgba(32, 32, 33, 0.036) 13%, rgba(32, 32, 33, 0.15) 27%, rgba(32, 32, 33, 0.79) 68%, rgba(32, 32, 33, 0.95) 84%, rgba(32, 32, 33, 1) 100%;
    --vkui--gradient: rgba(25, 25, 26, 0) 0%, rgba(25, 25, 26, 0.036) 13%, rgba(25, 25, 26, 0.15) 27%, rgba(25, 25, 26, 0.79) 68%, rgba(25, 25, 26, 0.95) 84%, rgba(25, 25, 26, 1) 100%;
    --vkui--theme_inherits_from: 'vkComDark';
    --vkui--colors_scheme: dark;
    --vkui--color_background_accent: #5785BA;
    --vkui--color_background_accent--hover: #5785BA;
    --vkui--color_background_accent--active: #5785BA;
    --vkui--color_background_accent_themed: #5785BA;
    --vkui--color_background_accent_themed--hover: #5785BA;
    --vkui--color_background_accent_themed--active: #5785BA;
    --vkui--color_background_accent_tint--hover: #5785BA;
    --vkui--color_background_accent_tint--active: #5785BA;
    --vkui--color_background_accent_alternative: #5785BA;
    --vkui--color_background_accent_alternative--hover: #5785BA;
    --vkui--color_background_accent_alternative--active: #5785BA;
    --vkui--color_background: #1b222a;
    --vkui--color_background--hover: #1d1d1d;
    --vkui--color_background--active: #272727;
    --vkui--color_background_content: #222C37;
    --vkui--color_background_content--hover: #2b2b2b;
    --vkui--color_background_content--active: #343434;
    --vkui--color_background_secondary: #2A3742;
    --vkui--color_background_secondary--hover: #3b3b3b;
    --vkui--color_background_secondary--active: #434343;
    --vkui--color_background_secondary_alpha: #1b222a;
    --vkui--color_background_secondary_alpha--hover: #1b222a;
    --vkui--color_background_secondary_alpha--active: #1b222a;
    --vkui--color_background_tertiary: #222c37;
    --vkui--color_background_tertiary--hover: #222c37;
    --vkui--color_background_tertiary--active: #222c37;
    --vkui--color_background_tertiary_alpha: rgba(255, 255, 255, 0.03);
    --vkui--color_background_tertiary_alpha--hover: rgba(255, 255, 255, 0.07);
    --vkui--color_background_tertiary_alpha--active: rgba(255, 255, 255, 0.11);
    --vkui--color_background_contrast--hover: #ebedf0;
    --vkui--color_background_contrast--active: #d7d8db;
    --vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.2);
    --vkui--color_background_contrast_inverse--hover: #3b3b3b;
    --vkui--color_background_contrast_inverse--active: #434343;
    --vkui--color_background_contrast_themed: #323232;
    --vkui--color_background_contrast_themed--hover: #3a3a3a;
    --vkui--color_background_contrast_themed--active: #1B222A;
    --vkui--color_background_modal: #222c37;
    --vkui--color_background_modal--hover: #222c37;
    --vkui--color_background_modal--active: #222c37;
    --vkui--color_background_modal_inverse: #CDD6F4;
    --vkui--color_background_modal_inverse--hover: #ebedf0;
    --vkui--color_background_modal_inverse--active: #d7d8db;
    --vkui--color_background_warning: #857250;
    --vkui--color_background_warning--hover: #8a7857;
    --vkui--color_background_warning--active: #8f7d5e;
    --vkui--color_background_positive--hover: #52b652;
    --vkui--color_background_positive--active: #59b959;
    --vkui--color_background_negative: #ff5c5c;
    --vkui--color_background_negative--hover: #ff6363;
    --vkui--color_background_negative--active: #ff6969;
    --vkui--color_background_negative_tint: #522e2e;
    --vkui--color_background_negative_tint--hover: #593636;
    --vkui--color_background_negative_tint--active: #603f3f;
    --vkui--color_background_positive_tint: #2f422f;
    --vkui--color_background_positive_tint--hover: #374a37;
    --vkui--color_background_positive_tint--active: #405140;
    --vkui--color_field_background: #1B222A;
    --vkui--color_field_background--hover: #323232;
    --vkui--color_field_background--active: #3a3a3a;
    --vkui--color_header_background: #222C37;
    --vkui--color_header_background--hover: #2b2b2b;
    --vkui--color_header_background--active: #343434;
    --vkui--color_text_accent: #5785BA;
    --vkui--color_text_accent--hover: #5785BA;
    --vkui--color_text_accent--active: #5785BA;
    --vkui--color_text_accent_themed: #CDD6F4;
    --vkui--color_text_accent_themed--hover: #e2e4e7;
    --vkui--color_text_accent_themed--active: #e3e5e8;
    --vkui--color_text_primary: #CDD6F4;
    --vkui--color_text_primary--hover: #e2e4e7;
    --vkui--color_text_primary--active: #e3e5e8;
    --vkui--color_text_primary_invariably--hover: #3b3b3b;
    --vkui--color_text_primary_invariably--active: #434343;
    --vkui--color_text_secondary: #7F849C;
    --vkui--color_text_secondary--hover: #878787;
    --vkui--color_text_secondary--active: #8c8c8c;
    --vkui--color_text_subhead: #CDD6F4;
    --vkui--color_text_subhead--hover: #CDD6F4;
    --vkui--color_text_subhead--active: #CDD6F4;
    --vkui--color_text_tertiary: #CDD6F4;
    --vkui--color_text_tertiary--hover: #CDD6F4;
    --vkui--color_text_tertiary--active: #CDD6F4;
    --vkui--color_text_contrast--hover: #CDD6F4;
    --vkui--color_text_contrast--active: #CDD6F4;
    --vkui--color_text_contrast_themed: #222C37;
    --vkui--color_text_contrast_themed--hover: #CDD6F4;
    --vkui--color_text_contrast_themed--active: #CDD6F4;
    --vkui--color_text_positive--hover: #52b652;
    --vkui--color_text_positive--active: #59b959;
    --vkui--color_text_negative: #ff5c5c;
    --vkui--color_text_negative--hover: #ff6363;
    --vkui--color_text_negative--active: #ff6969;
    --vkui--color_text_link: #5785BA;
    --vkui--color_text_link--hover: #5785BA;
    --vkui--color_text_link--active: #5785BA;
    --vkui--color_text_link_themed: #CDD6F4;
    --vkui--color_text_link_themed--hover: #5785BA;
    --vkui--color_text_link_themed--active: #5785BA;
    --vkui--color_text_link_tint--hover: #5785BA;
    --vkui--color_text_link_tint--active: #5785BA;
    --vkui--color_text_link_visited--hover: #5785BA;
    --vkui--color_text_link_visited--active: #5785BA;
    --vkui--color_text_muted: #CDD6F4;
    --vkui--color_text_muted--hover: #cecece;
    --vkui--color_text_muted--active: #d0d0d0;
    --vkui--color_link_contrast--hover: #ebedf0;
    --vkui--color_link_contrast--active: #d7d8db;
    --vkui--color_icon_accent: #5785BA;
    --vkui--color_icon_accent--hover: #5785BA;
    --vkui--color_icon_accent--active: #5785BA;
    --vkui--color_icon_accent_themed: #CDD6F4;
    --vkui--color_icon_accent_themed--hover: #e2e4e7;
    --vkui--color_icon_accent_themed--active: #e3e5e8;
    --vkui--color_icon_primary: #e1e3e6;
    --vkui--color_icon_primary--hover: #e2e4e7;
    --vkui--color_icon_primary--active: #e3e5e8;
    --vkui--color_icon_primary_invariably: #2A3742;
    --vkui--color_icon_primary_invariably--hover: #3b3b3b;
    --vkui--color_icon_primary_invariably--active: #434343;
    --vkui--color_icon_medium: #CDD6F4;
    --vkui--color_icon_medium--hover: #979797;
    --vkui--color_icon_medium--active: #9c9c9c;
    --vkui--color_icon_medium_alpha: rgba(255, 255, 255, 0.48);
    --vkui--color_icon_medium_alpha--hover: rgba(255, 255, 255, 0.52);
    --vkui--color_icon_medium_alpha--active: rgba(255, 255, 255, 0.56);
    --vkui--color_icon_secondary: #7F849C;
    --vkui--color_icon_secondary--hover: #878787;
    --vkui--color_icon_secondary--active: #8c8c8c;
    --vkui--color_icon_secondary_alpha: rgba(255, 255, 255, 0.40);
    --vkui--color_icon_secondary_alpha--hover: rgba(255, 255, 255, 0.44);
    --vkui--color_icon_secondary_alpha--active: rgba(255, 255, 255, 0.48);
    --vkui--color_icon_tertiary: #CDD6F4;
    --vkui--color_icon_tertiary--hover: #6b6b6b;
    --vkui--color_icon_tertiary--active: #717171;
    --vkui--color_icon_tertiary_alpha: #2A3742;
    --vkui--color_icon_tertiary_alpha--hover: #2A3742;
    --vkui--color_icon_tertiary_alpha--active: #2A3742;
    --vkui--color_icon_contrast: #CDD6F4;
    --vkui--color_icon_contrast--hover: #e2e4e7;
    --vkui--color_icon_contrast--active: #e3e5e8;
    --vkui--color_icon_contrast_themed: #222C37;
    --vkui--color_icon_contrast_themed--hover: #2b2b2b;
    --vkui--color_icon_contrast_themed--active: #343434;
    --vkui--color_icon_contrast_secondary--hover: #f3f3f5;
    --vkui--color_icon_contrast_secondary--active: #f3f4f6;
    --vkui--color_icon_positive--hover: #52b652;
    --vkui--color_icon_positive--active: #59b959;
    --vkui--color_icon_negative: #ff5c5c;
    --vkui--color_icon_negative--hover: #ff6363;
    --vkui--color_icon_negative--active: #ff6969;
    --vkui--color_stroke_accent: #5785BA;
    --vkui--color_stroke_accent--hover: #5785BA;
    --vkui--color_stroke_accent--active: #5785BA;
    --vkui--color_stroke_accent_themed: #CDD6F4;
    --vkui--color_stroke_accent_themed--hover: #e2e4e7;
    --vkui--color_stroke_accent_themed--active: #e3e5e8;
    --vkui--color_separator_primary: #222c37;
    --vkui--color_separator_primary--hover: #2A3742;
    --vkui--color_separator_primary--active: #222c37;
    --vkui--color_separator_primary2x: #2A3742;
    --vkui--color_separator_primary2x--hover: #2A3742;
    --vkui--color_separator_primary2x--active: #2A3742;
    --vkui--color_separator_primary3x: #2A3742;
    --vkui--color_separator_primary3x--hover: #2A3742;
    --vkui--color_separator_primary3x--active: #2A3742;
    --vkui--color_separator_primary_alpha: #2A3742;
    --vkui--color_separator_primary_alpha--hover: #2A3742;
    --vkui--color_separator_primary_alpha--active: #2A3742;
    --vkui--color_separator_secondary: #2A3742;
    --vkui--color_separator_secondary--hover: #2A3742;
    --vkui--color_separator_secondary--active: #2A3742;
    --vkui--color_stroke_positive--hover: #52b652;
    --vkui--color_stroke_positive--active: #59b959;
    --vkui--color_stroke_negative: #ff5c5c;
    --vkui--color_stroke_negative--hover: #ff6363;
    --vkui--color_stroke_negative--active: #ff6969;
    --vkui--color_stroke_contrast: #CDD6F4;
    --vkui--color_stroke_contrast--hover: #ebedf0;
    --vkui--color_stroke_contrast--active: #d7d8db;
    --vkui--color_image_border_alpha: #2A3742;
    --vkui--color_image_border_alpha--hover: #2A3742;
    --vkui--color_image_border_alpha--active: #2A3742;
    --vkui--color_field_border_alpha: rgba(255, 255, 255, 0.12);
    --vkui--color_field_border_alpha--hover: rgba(255, 255, 255, 0.16);
    --vkui--color_field_border_alpha--active: rgba(255, 255, 255, 0.2);
    --vkui--color_accent_blue: #397dcc;
    --vkui--color_accent_blue--hover: #4182ce;
    --vkui--color_accent_blue--active: #4987d0;
    --vkui--color_accent_gray--hover: #b1bac4;
    --vkui--color_accent_gray--active: #b4bdc7;
    --vkui--color_accent_red--hover: #ff3b4e;
    --vkui--color_accent_red--active: #ff4356;
    --vkui--color_accent_green: #4bb34b;
    --vkui--color_accent_green--hover: #52b652;
    --vkui--color_accent_green--active: #59b959;
    --vkui--color_accent_orange--hover: #ffa40a;
    --vkui--color_accent_orange--active: #ffa814;
    --vkui--color_accent_orange_peach: #ffc062;
    --vkui--color_accent_orange_peach--hover: #ffc368;
    --vkui--color_accent_orange_peach--active: #ffc56f;
    --vkui--color_accent_orange_fire--hover: #f1634b;
    --vkui--color_accent_orange_fire--active: #f16953;
    --vkui--color_accent_purple: #937ff5;
    --vkui--color_accent_purple--hover: #9784f5;
    --vkui--color_accent_purple--active: #9c89f6;
    --vkui--color_accent_violet: #a393f5;
    --vkui--color_accent_violet--hover: #a797f5;
    --vkui--color_accent_violet--active: #aa9cf6;
    --vkui--color_accent_raspberry_pink: #f060c0;
    --vkui--color_accent_raspberry_pink--hover: #f166c3;
    --vkui--color_accent_raspberry_pink--active: #f16dc5;
    --vkui--color_accent_secondary--hover: #478fe1;
    --vkui--color_accent_secondary--active: #4e93e2;
    --vkui--color_overlay_secondary: rgba(55, 56, 57, 0.5);
    --vkui--color_overlay_secondary--hover: rgba(55, 56, 57, 0.54);
    --vkui--color_overlay_secondary--active: rgba(55, 56, 57, 0.58);
    --vkui--color_action_sheet_text: #5785BA;
    --vkui--color_action_sheet_text--hover: #5785BA;
    --vkui--color_action_sheet_text--active: #5785BA;
    --vkui--color_image_placeholder: #2A3742;
    --vkui--color_image_placeholder--hover: #2A3742;
    --vkui--color_image_placeholder--active: #3b3c3d;
    --vkui--color_image_placeholder_alpha: rgba(241, 247, 255, 0.08);
    --vkui--color_image_placeholder_alpha--hover: rgba(241, 247, 255, 0.12);
    --vkui--color_image_placeholder_alpha--active: rgba(241, 247, 255, 0.16);
    --vkui--color_skeleton_from: #1B222A;
    --vkui--color_skeleton_from--hover: #323232;
    --vkui--color_skeleton_from--active: #3a3a3a;
    --vkui--color_skeleton_to: #2A3742;
    --vkui--color_skeleton_to--hover: #3b3b3b;
    --vkui--color_skeleton_to--active: #434343;
    --vkui--color_button_text: #CDD6F4;
    --vkui--color_button_text--hover: #e2e4e7;
    --vkui--color_button_text--active: #e3e5e8;
    --vkui--color_button_icon: #CDD6F4;
    --vkui--color_button_icon--hover: #e2e4e7;
    --vkui--color_button_icon--active: #e3e5e8;
    --vkui--color_button_stroke: #CDD6F4;
    --vkui--color_button_stroke--hover: #e2e4e7;
    --vkui--color_button_stroke--active: #e3e5e8;
    --vkui--color_write_bar_icon: #CDD6F4;
    --vkui--color_write_bar_icon--hover: #e2e4e7;
    --vkui--color_write_bar_icon--active: #e3e5e8;
    --vkui--color_write_bar_input_background: #1B222A;
    --vkui--color_write_bar_input_background--hover: #1B222A;
    --vkui--color_write_bar_input_background--active: #1B222A;
    --vkui--color_write_bar_input_border: #1B222A;
    --vkui--color_write_bar_input_border--hover: #5c5c5c;
    --vkui--color_write_bar_input_border--active: #636363;
    --vkui--color_write_bar_input_border_alpha: rgba(255, 255, 255, 0.8);
    --vkui--color_write_bar_input_border_alpha--hover: rgba(255, 255, 255, 0.84);
    --vkui--color_write_bar_input_border_alpha--active: rgba(255, 255, 255, 0.88);
    --vkui--color_track_background: #1B222A;
    --vkui--color_track_background--hover: #1B222A;
    --vkui--color_track_background--active: #1B222A;
    --vkui--color_track_buffer: #CDD6F4;
    --vkui--color_track_buffer--hover: #CDD6F4;
    --vkui--color_track_buffer--active: #CDD6F4;
    --vkui--color_search_field_background: #1B222A;
    --vkui--color_search_field_background--hover: #1B222A;
    --vkui--color_search_field_background--active: #1B222A;
    --vkui--color_panel_header_icon: #5785BA;
    --vkui--color_panel_header_icon--hover: #5785BA;
    --vkui--color_panel_header_icon--active: #5785BA;
    --vkui--color_segmented_control: #626364;
    --vkui--color_segmented_control--hover: #68696a;
    --vkui--color_segmented_control--active: #6f6f70;
    --vkui--color_tabbar_text_inactive: #76787a;
    --vkui--color_tabbar_text_inactive--hover: #7b7d7f;
    --vkui--color_tabbar_text_inactive--active: #818385;
    --vkui--color_transparent--hover: #2A3742;
    --vkui--color_transparent--active: #2A3742;
    --vkui--vkontakte_color_snippet_border_alpha: #1B222A;
    --vkui--vkontakte_color_snippet_border_alpha--hover: #1B222A;
    --vkui--vkontakte_color_snippet_border_alpha--active: #1B222A;
    --vkui--vkontakte_color_snippet_background: #1B222A;
    --vkui--vkontakte_color_snippet_background--hover: #1B222A;
    --vkui--vkontakte_color_snippet_background--active: #1B222A;
    --vkui--vkontakte_color_input_border: #1B222A;
    --vkui--vkontakte_color_input_border--hover: #5c5c5c;
    --vkui--vkontakte_color_input_border--active: #636363;
    --vkui--vkontakte_color_search_bar_background: #1B222A;
    --vkui--vkontakte_color_search_bar_background--hover: #1B222A;
    --vkui--vkontakte_color_search_bar_background--active: #1B222A;
    --vkui--vkontakte_color_search_bar_field_tint: #1B222A;
    --vkui--vkontakte_color_search_bar_field_tint--hover: #1B222A;
    --vkui--vkontakte_color_search_bar_field_tint--active: #1B222A;
    --vkui--vkontakte_background_hover_alpha: #2A3742;
    --vkui--vkontakte_background_hover_alpha--hover: #2A3742;
    --vkui--vkontakte_background_hover_alpha--active: #2A3742;
    --vkui--vkontakte_color_accent_alternate: #CDD6F4;
    --vkui--vkontakte_color_accent_alternate--hover: #ebedf0;
    --vkui--vkontakte_color_accent_alternate--active: #d7d8db;
    --vkui--vkontakte_color_background_suggestions: #2A3742;
    --vkui--vkontakte_color_background_suggestions--hover: #3b3b3b;
    --vkui--vkontakte_color_background_suggestions--active: #434343;
    --vkui--vkontakte_color_background_keyboard: #2A3742;
    --vkui--vkontakte_color_background_keyboard--hover: #3b3b3b;
    --vkui--vkontakte_color_background_keyboard--active: #434343;
    --vkui--vkontakte_color_content_placeholder_icon--hover: #b5b5b5;
    --vkui--vkontakte_color_content_placeholder_icon--active: #b8b8b8;
    --vkui--vkontakte_color_content_tint_foreground--hover: #979797;
    --vkui--vkontakte_color_content_tint_foreground--active: #9c9c9c;
    --vkui--vkontakte_color_text_name: #CDD6F4;
    --vkui--vkontakte_color_text_name--hover: #e2e4e7;
    --vkui--vkontakte_color_text_name--active: #e3e5e8;
    --vkui--vkontakte_color_control_background: #1B222A;
    --vkui--vkontakte_color_control_background--hover: #5c5c5c;
    --vkui--vkontakte_color_control_background--active: #636363;
    --vkui--vkontakte_color_control_foreground: #CDD6F4;
    --vkui--vkontakte_color_control_foreground--hover: #e2e4e7;
    --vkui--vkontakte_color_control_foreground--active: #e3e5e8;
    --vkui--vkontakte_color_control_tint_muted: #CDD6F4;
    --vkui--vkontakte_color_control_tint_muted--hover: #979797;
    --vkui--vkontakte_color_control_tint_muted--active: #9c9c9c;
    --vkui--vkontakte_color_header_search_field_background: #1B222A;
    --vkui--vkontakte_color_header_search_field_background--hover: #1B222A;
    --vkui--vkontakte_color_header_search_field_background--active: #1B222A;
    --vkui--vkontakte_color_header_search_field_tint: #CDD6F4;
    --vkui--vkontakte_color_header_search_field_tint--hover: #b5b5b5;
    --vkui--vkontakte_color_header_search_field_tint--active: #b8b8b8;
    --vkui--vkontakte_color_header_tab_active_indicator--hover: #4182ce;
    --vkui--vkontakte_color_header_tab_active_indicator--active: #4987d0;
    --vkui--vkontakte_color_icon_outline_medium: #CDD6F4;
    --vkui--vkontakte_color_icon_outline_medium--hover: #b5b5b5;
    --vkui--vkontakte_color_icon_outline_medium--active: #b8b8b8;
    --vkui--vkontakte_color_icon_outline_secondary: #CDD6F4;
    --vkui--vkontakte_color_icon_outline_secondary--hover: #979797;
    --vkui--vkontakte_color_icon_outline_secondary--active: #9c9c9c;
    --vkui--vkontakte_color_skeleton_shimmer_from: #222C37;
    --vkui--vkontakte_color_skeleton_shimmer_from--hover: #2b2b2b;
    --vkui--vkontakte_color_skeleton_shimmer_from--active: #343434;
    --vkui--vkontakte_color_loader_background: #1B222A;
    --vkui--vkontakte_color_loader_background--hover: #5c5c5c;
    --vkui--vkontakte_color_loader_background--active: #636363;
    --vkui--vkontakte_color_loader_tint--hover: #878787;
    --vkui--vkontakte_color_loader_tint--active: #8c8c8c;
    --vkui--vkontakte_color_music_playback_icon: #CDD6F4;
    --vkui--vkontakte_color_music_playback_icon--hover: #ebedf0;
    --vkui--vkontakte_color_music_playback_icon--active: #d7d8db;
    --vkui--vkontakte_color_status_background: #222C37;
    --vkui--vkontakte_color_status_background--hover: #2b2b2b;
    --vkui--vkontakte_color_status_background--active: #343434;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary: #CDD6F4;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary--hover: #979797;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary--active: #9c9c9c;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary: #CDD6F4;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary--hover: #6b6b6b;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary--active: #717171;
    --vkui--vkontakte_color_placeholder_icon_tint: #CDD6F4;
    --vkui--vkontakte_color_placeholder_icon_tint--hover: #ebedf0;
    --vkui--vkontakte_color_placeholder_icon_tint--active: #d7d8db;
    --vkui--vkontakte_color_poll_option_background: #CDD6F4;
    --vkui--vkontakte_color_poll_option_background--hover: #ebedf0;
    --vkui--vkontakte_color_poll_option_background--active: #d7d8db;
    --vkui--vkontakte_color_tabbar_active_icon: #CDD6F4;
    --vkui--vkontakte_color_tabbar_active_icon--hover: #ebedf0;
    --vkui--vkontakte_color_tabbar_active_icon--active: #d7d8db;
    --vkui--vkontakte_color_tabbar_background: #2A3742;
    --vkui--vkontakte_color_tabbar_background--hover: #3b3b3b;
    --vkui--vkontakte_color_tabbar_background--active: #434343;
    --vkui--vkontakte_color_tabbar_inactive_icon: #7F849C;
    --vkui--vkontakte_color_tabbar_inactive_icon--hover: #878787;
    --vkui--vkontakte_color_tabbar_inactive_icon--active: #8c8c8c;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary: #7F849C;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary--hover: #878787;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary--active: #8c8c8c;
    --vkui--vkontakte_color_toolbar_attach_background_from: #7F849C;
    --vkui--vkontakte_color_toolbar_attach_background_from--hover: #878787;
    --vkui--vkontakte_color_toolbar_attach_background_from--active: #8c8c8c;
    --vkui--vkontakte_color_splash_screen_icon: #2A3742;
    --vkui--vkontakte_color_splash_screen_icon--hover: #3b3b3b;
    --vkui--vkontakte_color_splash_screen_icon--active: #434343;
    --vkui--vkontakte_color_icon_name: #CDD6F4;
    --vkui--vkontakte_color_icon_name--hover: #b5b5b5;
    --vkui--vkontakte_color_icon_name--active: #b8b8b8;
    --vkui--vkontakte_color_panel_tab_active_text: #CDD6F4;
    --vkui--vkontakte_color_panel_tab_active_text--hover: #e2e4e7;
    --vkui--vkontakte_color_panel_tab_active_text--active: #e3e5e8;
    --vkui--vkontakte_color_modal_card_header_close: #CDD6F4;
    --vkui--vkontakte_color_modal_card_header_close--hover: #ebedf0;
    --vkui--vkontakte_color_modal_card_header_close--active: #d7d8db;
    --vkui--vkontakte_im_bubble_button_outgoing_background_alpha: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_im_bubble_button_outgoing_background_alpha--hover: rgba(255, 255, 255, 0.28);
    --vkui--vkontakte_im_bubble_button_outgoing_background_alpha--active: rgba(255, 255, 255, 0.32);
    --vkui--vkontakte_im_bubble_button_foreground: #CDD6F4;
    --vkui--vkontakte_im_bubble_button_foreground--hover: #e2e4e7;
    --vkui--vkontakte_im_bubble_button_foreground--active: #e3e5e8;
    --vkui--vkontakte_im_bubble_incoming_highlighted: #CDD6F4;
    --vkui--vkontakte_im_bubble_incoming_highlighted--hover: #6b6b6b;
    --vkui--vkontakte_im_bubble_incoming_highlighted--active: #717171;
    --vkui--vkontakte_im_bubble_gift_background: #857250;
    --vkui--vkontakte_im_bubble_gift_background--hover: #8a7857;
    --vkui--vkontakte_im_bubble_gift_background--active: #8f7d5e;
    --vkui--vkontakte_im_bubble_gift_background_highlighted: #ab9871;
    --vkui--vkontakte_im_bubble_gift_background_highlighted--hover: #ae9c77;
    --vkui--vkontakte_im_bubble_gift_background_highlighted--active: #b2a07c;
    --vkui--vkontakte_im_bubble_outgoing_alternate: #1B222A;
    --vkui--vkontakte_im_bubble_outgoing_alternate--hover: #5c5c5c;
    --vkui--vkontakte_im_bubble_outgoing_alternate--active: #636363;
    --vkui--vkontakte_im_attach_tint: #CDD6F4;
    --vkui--vkontakte_im_attach_tint--hover: #ebedf0;
    --vkui--vkontakte_im_attach_tint--active: #d7d8db;
    --vkui--vkontakte_im_reply_separator: #CDD6F4;
    --vkui--vkontakte_im_reply_separator--hover: #ebedf0;
    --vkui--vkontakte_im_reply_separator--active: #d7d8db;
    --vkui--vkontakte_im_toolbar_voice_msg_background: #1B222A;
    --vkui--vkontakte_im_toolbar_voice_msg_background--hover: #5c5c5c;
    --vkui--vkontakte_im_toolbar_voice_msg_background--active: #636363;
    --vkui--vkontakte_color_im_forward_line_alpha: #5785BA;
    --vkui--vkontakte_color_im_forward_line_alpha--hover: #5785BA;
    --vkui--vkontakte_color_im_forward_line_alpha--active: #5785BA;
    --vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha: rgba(0, 0, 0, 0.00);
    --vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha--hover: rgba(0, 0, 0, 0.04);
    --vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha--active: rgba(0, 0, 0, 0.08);
    --vkui--vkontakte_color_im_bubble_incoming: #2A3742;
    --vkui--vkontakte_color_im_bubble_incoming--hover: #3b3b3b;
    --vkui--vkontakte_color_im_bubble_incoming--active: #434343;
    --vkui--vkontakte_color_im_bubble_incoming_alternate: #2A3742;
    --vkui--vkontakte_color_im_bubble_incoming_alternate--hover: #2A3742;
    --vkui--vkontakte_color_im_bubble_incoming_alternate--active: #2A3742;
    --vkui--vkontakte_color_im_bubble_incoming_expiring: #2A3742;
    --vkui--vkontakte_color_im_bubble_incoming_expiring--hover: #2A3742;
    --vkui--vkontakte_color_im_bubble_incoming_expiring--active: #2A3742;
    --vkui--vkontakte_color_im_bubble_outgoing: #1B222A;
    --vkui--vkontakte_color_im_bubble_outgoing--hover: #5c5c5c;
    --vkui--vkontakte_color_im_bubble_outgoing--active: #636363;
    --vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted: #5965b3;
    --vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted--hover: #606bb6;
    --vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted--active: #6671b9;
    --vkui--vkontakte_color_im_bubble_gift_text: #CDD6F4;
    --vkui--vkontakte_color_im_bubble_gift_text--hover: #CDD6F4;
    --vkui--vkontakte_color_im_bubble_gift_text--active: #CDD6F4;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary: #CDD6F4;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary--hover: #CDD6F4;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary--active: #CDD6F4;
    --vkui--vkontakte_color_im_text_name: #5785BA;
    --vkui--vkontakte_color_im_text_name--hover: #5785BA;
    --vkui--vkontakte_color_im_text_name--active: #5785BA;
    --vkui--vkontakte_button_muted_background: #2A3742;
    --vkui--vkontakte_button_muted_background--hover: #3b3b3b;
    --vkui--vkontakte_button_muted_background--active: #434343;
    --vkui--vkontakte_button_tertiary_foreground: #CDD6F4;
    --vkui--vkontakte_button_tertiary_foreground--hover: #e2e4e7;
    --vkui--vkontakte_button_tertiary_foreground--active: #e3e5e8;
    --vkui--vkontakte_float_button_foreground: #CDD6F4;
    --vkui--vkontakte_float_button_foreground--hover: #b5b5b5;
    --vkui--vkontakte_float_button_foreground--active: #b8b8b8;
    --vkui--vkontakte_landing_background: #222C37;
    --vkui--vkontakte_landing_background--hover: #2b2b2b;
    --vkui--vkontakte_landing_background--active: #343434;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted: #CDD6F4;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted--hover: #6b6b6b;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted--active: #717171;
    --vkui--vkontakte_im_bubble_incoming_expiring_highlighted: #404980;
    --vkui--vkontakte_im_bubble_incoming_expiring_highlighted--hover: #485085;
    --vkui--vkontakte_im_bubble_incoming_expiring_highlighted--active: #4f588a;
    --vkui--vkontakte_im_bubble_outgoing_highlighted: #CDD6F4;
    --vkui--vkontakte_im_bubble_outgoing_highlighted--hover: #6b6b6b;
    --vkui--vkontakte_im_bubble_outgoing_highlighted--active: #717171;
    --vkui--vkontakte_landing_secondary_button_background: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_landing_secondary_button_background--hover: rgba(255, 255, 255, 0.2);
    --vkui--vkontakte_landing_secondary_button_background--active: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_stories_skeleton_loader_background: #1B222A;
    --vkui--vkontakte_stories_skeleton_loader_background--hover: #5c5c5c;
    --vkui--vkontakte_stories_skeleton_loader_background--active: #636363;
}

.ui_search.ui_search_new.ui_search_with_custom_controls .ui_search_custom_ctrl, .ui_search_new .ui_search_input_inner, .reply_fakebox, .deep_active .replies .reply_box div.submit_post_field, .slider_loading_bar,.audio_page_player2 .audio_page_player_track_slider.slider.slider_size_1 .slider_slide, .audio_page_player2 .audio_page_player_volume_slider.slider.slider_size_1 .slider_slide, .slider.slider_size_1 .slider_slide {
    background: #1B222A;
}
.audio_pl_item2 .audio_pl__cover:hover, .audio_pl__actions_wrap, .audio_page_player .slider .slider_amount, .audio_inline_player .slider .slider_amount, .audio_page_player2 .audio_page_player_track_slider.slider.slider_size_1:not(.slider_ad_mode) .slider_amount, .audio_page_player2 .audio_page_player_volume_slider.slider.slider_size_1 .slider_amount {
    background: #5785BA;
}
.vkuiSwitch__pseudo:before {
    background: #CDD6F4;
}
.redesign_web .RecommendedPlaylist__audios, .StatusPanel-module__inner--DB7re, .pv_more_acts, .pv_bottom_info {
    background: #222C37;
}
.audio_row__more_actions .audio_row__more_action, .audio_numeric .audio_row .audio_row__counter, .audio_pl_snippet2 .audio_pl_snippet__stats {
    color: #CDD6F4;
}
.top_audio_player .top_audio_player_title {
    color: #5785BA;
}
.tt_black .tt_text {
    background: #2A3742;
    color: #CDD6F4;
}
[dir] body .im-action_media:before, [dir] body .im-action_mute:before {
    color: #CDD6F4;
}
