:root {
    --gray_300: #cdd6f4;
    --gray_400: #7f849c;
    --gray_700: #2a3742;
    --gray_800: #1b222a;
    --gray_800_alpha72: #1b222a;
    --gray_900: #222c37;
    --steel_gray_200_alpha12: #2a3742;
    --steel_gray_200_alpha16: #2a3742;
    --steel_gray_300: #5785ba;
    --sky_300: #5785ba;
    --black_alpha72: #222c37;
}
:root, [scheme=vkcom_light] {
--vkui--color_background_contrast_inverse: #2a3742;
}
[scheme=vkcom_dark],
.vkui--vkBase--dark,
.vkui--vkCom--dark,
:is([scheme='vkcom_dark'],
.vkui--vkCom--dark) :is(.VKCOMMessenger__integrationRoot .MEAppConfig) {
    --vkui--color_accent_blue: #5785ba;
    --vkui--color_accent_blue--hover: #5785ba;
    --vkui--color_accent_blue--active: #5785ba;
    --vkui--color_background_accent: #5785ba;
    --vkui--color_background_accent--hover: #5785ba;
    --vkui--color_background_accent--active: #5785ba;
    --vkui--color_background_accent_themed: #5785ba;
    --vkui--color_background_accent_themed--hover: #5785ba;
    --vkui--color_background_accent_themed--active: #5785ba;
    --vkui--color_background_accent_tint--hover: #5785ba;
    --vkui--color_background_accent_tint--active: #5785ba;
    --vkui--color_background_accent_alternative: #5785ba;
    --vkui--color_background_accent_alternative--hover: #5785ba;
    --vkui--color_background_accent_alternative--active: #5785ba;
    --vkui--color_background: #1b222a;
    --vkui--color_background--hover: #1b222a;
    --vkui--color_background--active: #1b222a;
    --vkui--color_background_content: #222c37;
    --vkui--color_background_content--hover: #222c37;
    --vkui--color_background_content--active: #222c37;
    --vkui--color_background_secondary: #2a3742;
    --vkui--color_background_secondary--hover: #2a3742;
    --vkui--color_background_secondary--active: #2a3742;
    --vkui--color_background_secondary_alpha: #1b222a;
    --vkui--color_background_secondary_alpha--hover: #1b222a;
    --vkui--color_background_secondary_alpha--active: #1b222a;
    --vkui--color_background_tertiary: #222c37;
    --vkui--color_background_tertiary--hover: #222c37;
    --vkui--color_background_tertiary--active: #222c37;
    --vkui--color_background_tertiary_alpha: #222c37;
    --vkui--color_background_tertiary_alpha--hover: #222c37;
    --vkui--color_background_tertiary_alpha--active: #222c37;
    --vkui--color_background_contrast: #5785ba;
    --vkui--color_background_contrast--hover: #222c37;
    --vkui--color_background_contrast--active: #222c37;
    --vkui--color_background_contrast_secondary_alpha: #222c37;
    --vkui--color_background_contrast_inverse--hover: #222c37;
    --vkui--color_background_contrast_inverse--active: #222c37;
    --vkui--color_background_contrast_themed: #1b222a;
    --vkui--color_background_contrast_themed--hover: #1b222a;
    --vkui--color_background_contrast_themed--active: #1b222a;
    --vkui--color_background_modal: #222c37;
    --vkui--color_background_modal--hover: #222c37;
    --vkui--color_background_modal--active: #222c37;
    --vkui--color_background_modal_inverse: #cdd6f4;
    --vkui--color_background_modal_inverse--hover: #cdd6f4;
    --vkui--color_background_modal_inverse--active: #cdd6f4;
    --vkui--color_background_positive: #5785ba;
    --vkui--color_background_positive--hover: #5785ba;
    --vkui--color_background_positive--active: #5785ba;
    --vkui--color_field_background: #1b222a;
    --vkui--color_field_background--hover: #1b222a;
    --vkui--color_field_background--active: #1b222a;
    --vkui--color_header_background: #222c37;
    --vkui--color_header_background--hover: #222c37;
    --vkui--color_header_background--active: #222c37;
    --vkui--color_text_accent: #5785ba;
    --vkui--color_text_accent--hover: #5785ba;
    --vkui--color_text_accent--active: #5785ba;
    --vkui--color_text_accent_themed: #cdd6f4;
    --vkui--color_text_accent_themed--hover: #cdd6f4;
    --vkui--color_text_accent_themed--active: #cdd6f4;
    --vkui--color_text_primary: #cdd6f4;
    --vkui--color_text_primary--hover: #cdd6f4;
    --vkui--color_text_primary--active: #cdd6f4;
    --vkui--color_text_primary_invariably--hover: #cdd6f4;
    --vkui--color_text_primary_invariably--active: #cdd6f4;
    --vkui--color_text_secondary: #7f849c;
    --vkui--color_text_secondary--hover: #7f849c;
    --vkui--color_text_secondary--active: #7f849c;
    --vkui--color_text_subhead: #cdd6f4;
    --vkui--color_text_subhead--hover: #cdd6f4;
    --vkui--color_text_subhead--active: #cdd6f4;
    --vkui--color_text_tertiary: #cdd6f4;
    --vkui--color_text_tertiary--hover: #cdd6f4;
    --vkui--color_text_tertiary--active: #cdd6f4;
    --vkui--color_text_contrast: #cdd6f4;
    --vkui--color_text_contrast--hover: #cdd6f4;
    --vkui--color_text_contrast--active: #cdd6f4;
    --vkui--color_text_contrast_themed: #222c37;
    --vkui--color_text_contrast_themed--hover: #222c37;
    --vkui--color_text_contrast_themed--active: #222c37;
    --vkui--color_text_positive--hover: #cdd6f4;
    --vkui--color_text_positive--active: #cdd6f4;
    --vkui--color_text_negative: #cdd6f4;
    --vkui--color_text_negative--hover: #cdd6f4;
    --vkui--color_text_negative--active: #cdd6f4;
    --vkui--color_text_link: #5785ba;
    --vkui--color_text_link--hover: #5785ba;
    --vkui--color_text_link--active: #5785ba;
    --vkui--color_text_link_themed: #cdd6f4;
    --vkui--color_text_link_themed--hover: #cdd6f4;
    --vkui--color_text_link_themed--active: #cdd6f4;
    --vkui--color_text_link_tint--hover: #5785ba;
    --vkui--color_text_link_tint--active: #5785ba;
    --vkui--color_text_link_visited--hover: #5785ba;
    --vkui--color_text_link_visited--active: #5785ba;
    --vkui--color_text_muted: #cdd6f4;
    --vkui--color_text_muted--hover: #cdd6f4;
    --vkui--color_text_muted--active: #cdd6f4;
    --vkui--color_link_contrast--hover: #cdd6f4;
    --vkui--color_link_contrast--active: #cdd6f4;
    --vkui--color_icon_accent: #5785ba;
    --vkui--color_icon_accent--hover: #5785ba;
    --vkui--color_icon_accent--active: #5785ba;
    --vkui--color_icon_accent_themed: #5785ba;
    --vkui--color_icon_accent_themed--hover: #5785ba;
    --vkui--color_icon_accent_themed--active: #5785ba;
    --vkui--color_icon_primary: #5785ba;
    --vkui--color_icon_primary--hover: #5785ba;
    --vkui--color_icon_primary--active: #5785ba;
    --vkui--color_icon_primary_invariably: #2a3742;
    --vkui--color_icon_primary_invariably--hover: #2a3742;
    --vkui--color_icon_primary_invariably--active: #2a3742;
    --vkui--color_icon_medium: #5785ba;
    --vkui--color_icon_medium--hover: #5785ba;
    --vkui--color_icon_medium--active: #5785ba;
    --vkui--color_icon_medium_alpha: #5785ba;
    --vkui--color_icon_medium_alpha--hover: #5785ba;
    --vkui--color_icon_medium_alpha--active: #5785ba;
    --vkui--color_icon_secondary: #5785ba;
    --vkui--color_icon_secondary--hover: #5785ba;
    --vkui--color_icon_secondary--active: #5785ba;
    --vkui--color_icon_secondary_alpha: #5785ba;
    --vkui--color_icon_secondary_alpha--hover: #5785ba;
    --vkui--color_icon_secondary_alpha--active: #5785ba;
    --vkui--color_icon_tertiary: #5785ba;
    --vkui--color_icon_tertiary--hover: #5785ba;
    --vkui--color_icon_tertiary--active: #5785ba;
    --vkui--color_icon_tertiary_alpha: #5785ba;
    --vkui--color_icon_tertiary_alpha--hover: #5785ba;
    --vkui--color_icon_tertiary_alpha--active: #5785ba;
    --vkui--color_icon_contrast: #5785ba;
    --vkui--color_icon_contrast--hover: #5785ba;
    --vkui--color_icon_contrast--active: #5785ba;
    --vkui--color_icon_contrast_themed: #1b222a;
    --vkui--color_icon_contrast_themed--hover: #1b222a;
    --vkui--color_icon_contrast_themed--active: #1b222a;
    --vkui--color_icon_contrast_secondary--hover: #5785ba;
    --vkui--color_icon_contrast_secondary--active: #5785ba;
    --vkui--color_icon_positive--hover: #5785ba;
    --vkui--color_icon_positive--active: #5785ba;
    --vkui--color_icon_negative: #5785ba;
    --vkui--color_icon_negative--hover: #5785ba;
    --vkui--color_icon_negative--active: #5785ba;
    --vkui--color_stroke_accent: #5785ba;
    --vkui--color_stroke_accent--hover: #5785ba;
    --vkui--color_stroke_accent--active: #5785ba;
    --vkui--color_stroke_accent_themed: #cdd6f4;
    --vkui--color_stroke_accent_themed--hover: #cdd6f4;
    --vkui--color_stroke_accent_themed--active: #cdd6f4;
    --vkui--color_separator_primary: #222c37;
    --vkui--color_separator_primary--hover: #2a3742;
    --vkui--color_separator_primary--active: #222c37;
    --vkui--color_separator_primary2x: #2a3742;
    --vkui--color_separator_primary2x--hover: #2a3742;
    --vkui--color_separator_primary2x--active: #2a3742;
    --vkui--color_separator_primary3x: #2a3742;
    --vkui--color_separator_primary3x--hover: #2a3742;
    --vkui--color_separator_primary3x--active: #2a3742;
    --vkui--color_separator_primary_alpha: #2a3742;
    --vkui--color_separator_primary_alpha--hover: #2a3742;
    --vkui--color_separator_primary_alpha--active: #2a3742;
    --vkui--color_separator_secondary: #2a3742;
    --vkui--color_separator_secondary--hover: #2a3742;
    --vkui--color_separator_secondary--active: #2a3742;
    --vkui--color_stroke_positive--hover: #52b652;
    --vkui--color_stroke_positive--active: #59b959;
    --vkui--color_stroke_negative: #ff5c5c;
    --vkui--color_stroke_negative--hover: #ff6363;
    --vkui--color_stroke_negative--active: #ff6969;
    --vkui--color_stroke_contrast: #cdd6f4;
    --vkui--color_stroke_contrast--hover: #cdd6f4;
    --vkui--color_stroke_contrast--active: #cdd6f4;
    --vkui--color_image_border_alpha: #2a3742;
    --vkui--color_image_border_alpha--hover: #2a3742;
    --vkui--color_image_border_alpha--active: #2a3742;
    --vkui--color_field_border_alpha: #222c37;
    --vkui--color_field_border_alpha--hover: #222c37;
    --vkui--color_field_border_alpha--active: #222c37;
    --vkui--color_accent_green: #5785ba;
    --vkui--color_accent_green--hover: #5785ba;
    --vkui--color_accent_green--active: #5785ba;
    --vkui--color_action_sheet_text: #5785ba;
    --vkui--color_action_sheet_text--hover: #5785ba;
    --vkui--color_action_sheet_text--active: #5785ba;
    --vkui--color_image_placeholder: #2a3742;
    --vkui--color_image_placeholder--hover: #2a3742;
    --vkui--color_image_placeholder--active: #2a3742;
    --vkui--color_image_placeholder_alpha: #2a3742;
    --vkui--color_image_placeholder_alpha--hover: #2a3742;
    --vkui--color_image_placeholder_alpha--active: #2a3742;
    --vkui--color_skeleton_from: #1b222a;
    --vkui--color_skeleton_from--hover: #1b222a;
    --vkui--color_skeleton_from--active: #1b222a;
    --vkui--color_skeleton_to: #2a3742;
    --vkui--color_skeleton_to--hover: #2a3742;
    --vkui--color_skeleton_to--active: #2a3742;
    --vkui--color_button_text: #cdd6f4;
    --vkui--color_button_text--hover: #cdd6f4;
    --vkui--color_button_text--active: #cdd6f4;
    --vkui--color_button_icon: #cdd6f4;
    --vkui--color_button_icon--hover: #cdd6f4;
    --vkui--color_button_icon--active: #cdd6f4;
    --vkui--color_button_stroke: #cdd6f4;
    --vkui--color_button_stroke--hover: #cdd6f4;
    --vkui--color_button_stroke--active: #cdd6f4;
    --vkui--color_write_bar_icon: #cdd6f4;
    --vkui--color_write_bar_icon--hover: #cdd6f4;
    --vkui--color_write_bar_icon--active: #cdd6f4;
    --vkui--color_write_bar_input_background: #1b222a;
    --vkui--color_write_bar_input_background--hover: #1b222a;
    --vkui--color_write_bar_input_background--active: #1b222a;
    --vkui--color_write_bar_input_border: #1b222a;
    --vkui--color_write_bar_input_border--hover: #1b222a;
    --vkui--color_write_bar_input_border--active: #1b222a;
    --vkui--color_write_bar_input_border_alpha: #1b222a;
    --vkui--color_write_bar_input_border_alpha--hover: #1b222a;
    --vkui--color_write_bar_input_border_alpha--active: #1b222a;
    --vkui--color_track_background: #1b222a;
    --vkui--color_track_background--hover: #1b222a;
    --vkui--color_track_background--active: #1b222a;
    --vkui--color_track_buffer: #5785ba;
    --vkui--color_track_buffer--hover: #5785ba;
    --vkui--color_track_buffer--active: #5785ba;
    --vkui--color_search_field_background: #1b222a;
    --vkui--color_search_field_background--hover: #1b222a;
    --vkui--color_search_field_background--active: #1b222a;
    --vkui--color_panel_header_icon: #5785ba;
    --vkui--color_panel_header_icon--hover: #5785ba;
    --vkui--color_panel_header_icon--active: #5785ba;
    --vkui--color_transparent--hover: #2a3742;
    --vkui--color_transparent--active: #2a3742;
    --vkui--vkontakte_color_snippet_border_alpha: #1b222a;
    --vkui--vkontakte_color_snippet_border_alpha--hover: #1b222a;
    --vkui--vkontakte_color_snippet_border_alpha--active: #1b222a;
    --vkui--vkontakte_color_snippet_background: #1b222a;
    --vkui--vkontakte_color_snippet_background--hover: #1b222a;
    --vkui--vkontakte_color_snippet_background--active: #1b222a;
    --vkui--vkontakte_color_input_border: #1b222a;
    --vkui--vkontakte_color_input_border--hover: #1b222a;
    --vkui--vkontakte_color_input_border--active: #1b222a;
    --vkui--vkontakte_color_search_bar_background: #1b222a;
    --vkui--vkontakte_color_search_bar_background--hover: #1b222a;
    --vkui--vkontakte_color_search_bar_background--active: #1b222a;
    --vkui--vkontakte_color_search_bar_field_tint: #1b222a;
    --vkui--vkontakte_color_search_bar_field_tint--hover: #1b222a;
    --vkui--vkontakte_color_search_bar_field_tint--active: #1b222a;
    --vkui--vkontakte_background_hover_alpha: #2a3742;
    --vkui--vkontakte_background_hover_alpha--hover: #2a3742;
    --vkui--vkontakte_background_hover_alpha--active: #2a3742;
    --vkui--vkontakte_color_accent_alternate: #cdd6f4;
    --vkui--vkontakte_color_accent_alternate--hover: #cdd6f4;
    --vkui--vkontakte_color_accent_alternate--active: #cdd6f4;
    --vkui--vkontakte_color_background_suggestions: #2a3742;
    --vkui--vkontakte_color_background_suggestions--hover: #2a3742;
    --vkui--vkontakte_color_background_suggestions--active: #2a3742;
    --vkui--vkontakte_color_background_keyboard: #2a3742;
    --vkui--vkontakte_color_background_keyboard--hover: #2a3742;
    --vkui--vkontakte_color_background_keyboard--active: #2a3742;
    --vkui--vkontakte_color_content_placeholder_icon--hover: #cdd6f4;
    --vkui--vkontakte_color_content_placeholder_icon--active: #cdd6f4;
    --vkui--vkontakte_color_text_name: #cdd6f4;
    --vkui--vkontakte_color_text_name--hover: #cdd6f4;
    --vkui--vkontakte_color_text_name--active: #cdd6f4;
    --vkui--vkontakte_color_control_background: #1b222a;
    --vkui--vkontakte_color_control_background--hover: #1b222a;
    --vkui--vkontakte_color_control_background--active: #1b222a;
    --vkui--vkontakte_color_control_foreground: #cdd6f4;
    --vkui--vkontakte_color_control_foreground--hover: #cdd6f4;
    --vkui--vkontakte_color_control_foreground--active: #cdd6f4;
    --vkui--vkontakte_color_control_tint_muted: #cdd6f4;
    --vkui--vkontakte_color_control_tint_muted--hover: #cdd6f4;
    --vkui--vkontakte_color_control_tint_muted--active: #cdd6f4;
    --vkui--vkontakte_color_header_search_field_background: #1b222a;
    --vkui--vkontakte_color_header_search_field_background--hover: #1b222a;
    --vkui--vkontakte_color_header_search_field_background--active: #1b222a;
    --vkui--vkontakte_color_header_search_field_tint: #cdd6f4;
    --vkui--vkontakte_color_header_search_field_tint--hover: #cdd6f4;
    --vkui--vkontakte_color_header_search_field_tint--active: #cdd6f4;
    --vkui--vkontakte_color_icon_outline_medium: #5785ba;
    --vkui--vkontakte_color_icon_outline_medium--hover: #5785ba;
    --vkui--vkontakte_color_icon_outline_medium--active: #5785ba;
    --vkui--vkontakte_color_icon_outline_secondary: #cdd6f4;
    --vkui--vkontakte_color_icon_outline_secondary--hover: #cdd6f4;
    --vkui--vkontakte_color_icon_outline_secondary--active: #cdd6f4;
    --vkui--vkontakte_color_skeleton_shimmer_from: #222c37;
    --vkui--vkontakte_color_skeleton_shimmer_from--hover: #222c37;
    --vkui--vkontakte_color_skeleton_shimmer_from--active: #222c37;
    --vkui--vkontakte_color_loader_background: #1b222a;
    --vkui--vkontakte_color_loader_background--hover: #1b222a;
    --vkui--vkontakte_color_loader_background--active: #1b222a;
    --vkui--vkontakte_color_music_playback_icon: #cdd6f4;
    --vkui--vkontakte_color_music_playback_icon--hover: #cdd6f4;
    --vkui--vkontakte_color_music_playback_icon--active: #cdd6f4;
    --vkui--vkontakte_color_status_background: #222c37;
    --vkui--vkontakte_color_status_background--hover: #222c37;
    --vkui--vkontakte_color_status_background--active: #222c37;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary--hover: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary--active: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary--hover: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary--active: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_tint: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_tint--hover: #cdd6f4;
    --vkui--vkontakte_color_placeholder_icon_tint--active: #cdd6f4;
    --vkui--vkontakte_color_poll_option_background: #cdd6f4;
    --vkui--vkontakte_color_poll_option_background--hover: #cdd6f4;
    --vkui--vkontakte_color_poll_option_background--active: #cdd6f4;
    --vkui--vkontakte_color_tabbar_active_icon: #cdd6f4;
    --vkui--vkontakte_color_tabbar_active_icon--hover: #cdd6f4;
    --vkui--vkontakte_color_tabbar_active_icon--active: #cdd6f4;
    --vkui--vkontakte_color_tabbar_background: #2a3742;
    --vkui--vkontakte_color_tabbar_background--hover: #2a3742;
    --vkui--vkontakte_color_tabbar_background--active: #2a3742;
    --vkui--vkontakte_color_tabbar_inactive_icon: #7f849c;
    --vkui--vkontakte_color_tabbar_inactive_icon--hover: #7f849c;
    --vkui--vkontakte_color_tabbar_inactive_icon--active: #7f849c;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary: #7f849c;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary--hover: #7f849c;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary--active: #7f849c;
    --vkui--vkontakte_color_toolbar_attach_background_from: #7f849c;
    --vkui--vkontakte_color_toolbar_attach_background_from--hover: #7f849c;
    --vkui--vkontakte_color_toolbar_attach_background_from--active: #7f849c;
    --vkui--vkontakte_color_splash_screen_icon: #2a3742;
    --vkui--vkontakte_color_splash_screen_icon--hover: #2a3742;
    --vkui--vkontakte_color_splash_screen_icon--active: #2a3742;
    --vkui--vkontakte_color_icon_name: #cdd6f4;
    --vkui--vkontakte_color_icon_name--hover: #cdd6f4;
    --vkui--vkontakte_color_icon_name--active: #cdd6f4;
    --vkui--vkontakte_color_panel_tab_active_text: #cdd6f4;
    --vkui--vkontakte_color_panel_tab_active_text--hover: #cdd6f4;
    --vkui--vkontakte_color_panel_tab_active_text--active: #cdd6f4;
    --vkui--vkontakte_color_modal_card_header_close: #cdd6f4;
    --vkui--vkontakte_color_modal_card_header_close--hover: #cdd6f4;
    --vkui--vkontakte_color_modal_card_header_close--active: #cdd6f4;
    --vkui--vkontakte_im_bubble_button_foreground: #cdd6f4;
    --vkui--vkontakte_im_bubble_button_foreground--hover: #cdd6f4;
    --vkui--vkontakte_im_bubble_button_foreground--active: #cdd6f4;
    --vkui--vkontakte_im_bubble_incoming_highlighted: #cdd6f4;
    --vkui--vkontakte_im_bubble_incoming_highlighted--hover: #cdd6f4;
    --vkui--vkontakte_im_bubble_incoming_highlighted--active: #cdd6f4;
    --vkui--vkontakte_im_bubble_outgoing_alternate: #1b222a;
    --vkui--vkontakte_im_bubble_outgoing_alternate--hover: #1b222a;
    --vkui--vkontakte_im_bubble_outgoing_alternate--active: #1b222a;
    --vkui--vkontakte_im_attach_tint: #cdd6f4;
    --vkui--vkontakte_im_attach_tint--hover: #cdd6f4;
    --vkui--vkontakte_im_attach_tint--active: #cdd6f4;
    --vkui--vkontakte_im_reply_separator: #5785ba;
    --vkui--vkontakte_im_reply_separator--hover: #5785ba;
    --vkui--vkontakte_im_reply_separator--active: #5785ba;
    --vkui--vkontakte_im_toolbar_voice_msg_background: #1b222a;
    --vkui--vkontakte_im_toolbar_voice_msg_background--hover: #1b222a;
    --vkui--vkontakte_im_toolbar_voice_msg_background--active: #1b222a;
    --vkui--vkontakte_color_im_forward_line_alpha: #5785ba;
    --vkui--vkontakte_color_im_forward_line_alpha--hover: #5785ba;
    --vkui--vkontakte_color_im_forward_line_alpha--active: #5785ba;
    --vkui--vkontakte_color_im_bubble_incoming: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming--hover: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming--active: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming_alternate: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming_alternate--hover: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming_alternate--active: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming_expiring: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming_expiring--hover: #2a3742;
    --vkui--vkontakte_color_im_bubble_incoming_expiring--active: #2a3742;
    --vkui--vkontakte_color_im_bubble_outgoing: #2a3742;
    --vkui--vkontakte_color_im_bubble_outgoing--hover: #2a3742;
    --vkui--vkontakte_color_im_bubble_outgoing--active: #2a3742;
    --vkui--vkontakte_color_im_bubble_gift_text: #cdd6f4;
    --vkui--vkontakte_color_im_bubble_gift_text--hover: #cdd6f4;
    --vkui--vkontakte_color_im_bubble_gift_text--active: #cdd6f4;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary: #cdd6f4;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary--hover: #cdd6f4;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary--active: #cdd6f4;
    --vkui--vkontakte_color_im_text_name: #5785ba;
    --vkui--vkontakte_color_im_text_name--hover: #5785ba;
    --vkui--vkontakte_color_im_text_name--active: #5785ba;
    --vkui--vkontakte_button_muted_background: #2a3742;
    --vkui--vkontakte_button_muted_background--hover: #2a3742;
    --vkui--vkontakte_button_muted_background--active: #2a3742;
    --vkui--vkontakte_button_tertiary_foreground: #cdd6f4;
    --vkui--vkontakte_button_tertiary_foreground--hover: #cdd6f4;
    --vkui--vkontakte_button_tertiary_foreground--active: #cdd6f4;
    --vkui--vkontakte_float_button_foreground: #cdd6f4;
    --vkui--vkontakte_float_button_foreground--hover: #cdd6f4;
    --vkui--vkontakte_float_button_foreground--active: #cdd6f4;
    --vkui--vkontakte_landing_background: #222c37;
    --vkui--vkontakte_landing_background--hover: #222c37;
    --vkui--vkontakte_landing_background--active: #222c37;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted: #cdd6f4;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted--hover: #cdd6f4;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted--active: #cdd6f4;
    --vkui--vkontakte_im_bubble_outgoing_highlighted: #cdd6f4;
    --vkui--vkontakte_im_bubble_outgoing_highlighted--hover: #cdd6f4;
    --vkui--vkontakte_im_bubble_outgoing_highlighted--active: #cdd6f4;
    --vkui--vkontakte_stories_skeleton_loader_background: #1b222a;
    --vkui--vkontakte_stories_skeleton_loader_background--hover: #1b222a;
    --vkui--vkontakte_stories_skeleton_loader_background--active: #1b222a;
    --vkui--vkontakte_color_modal_card_border_alpha: none;
    --vkui--vkontakte_color_modal_card_border_alpha--hover: none;
    --vkui--vkontakte_color_modal_card_border_alpha--active: none;
    --vkui--vkontakte_color_landing_snippet_border_alpha: none;
    --vkui--vkontakte_color_landing_snippet_border_alpha--hover: none;
    --vkui--vkontakte_color_landing_snippet_border_alpha--active: none;
    --convoHistoryBackgroundColor: #2a3742;
}
.vkuiTabsItem--selected.vkuiTabsItem--mode-accent,
.vkuiInternalHorizontalScroll .vkuiTabsItem:hover,
.DateSeparator--active:not(.DateSeparator--themed),
.vkuiScrollArrow__icon,
.vkuiSwitch__track,
.ui_tab_new.ui_tab_sel,
.ui_tab_new.ui_tab_group_sel,
.ui_tab_new.ui_tab_sel:hover,
.ui_tab_new.ui_tab_group_sel:hover,
.ui_tab_new.ui_tab_sel:active,
.ui_tab_new.ui_tab_group_sel:active,
.ConvoMain__composerContent,
input.text,
input.search,
input.big_text,
input.dark, .fakeinput,
div[contenteditable=true],
textarea {
    background: #2a3742;
    box-shadow: none;
}
.videoplayer_slider ._bars_wrap,
.ui_search.ui_search_new.ui_search_with_custom_controls .ui_search_custom_ctrl,
.ui_search_new .ui_search_input_inner,
.reply_fakebox,
.deep_active .replies .reply_box div.submit_post_field,
.slider_loading_bar,
.audio_page_player2 .audio_page_player_track_slider.slider.slider_size_1 .slider_slide,
.audio_page_player2 .audio_page_player_volume_slider.slider.slider_size_1 .slider_slide,
.slider.slider_size_1 .slider_slide,
.ui_gallery_wall_cards .wall_card,
body {
    background: #1b222a;
}
.Slider-module__fillWriteBarIcon--W6ijG.Slider-module__fill--Gxkxh,
.Slider-module__fillTrackBuffered--DzV0t.Slider-module__fill--Gxkxh,
.Slider-module__fillTransparent--BvWiT.Slider-module__fill--Gxkxh {
    background: #5785ba;
}
.vkuiSwitch__pseudo:before {
    background: #cdd6f4;
}
.redesign_web .RecommendedPlaylist__audios,
.StatusPanel-module__inner--DB7re,
.pv_more_acts,
#pv_more_acts_tt,
.pv_bottom_info,
.AttachWallNew__link--post,
.vkuiPopover__in--withStyling,
.eltt.feature_info_tooltip,
.ConvoMain__themeWrapper {
    background: #222c37;
}
[dir] body .im-action_media:before,
[dir] body .im-action_mute:before,
.audio_row__more_actions .audio_row__more_action,
.audio_numeric .audio_row .audio_row__counter,
.audio_pl_snippet2 .audio_pl_snippet__stats,
div.img_title {
    color: #cdd6f4;
}
.top_audio_player .top_audio_player_title {
    color: #5785ba;
}
.ProfileIndicatorBadge__badgeLastSeen,
body .reply_author_label {
    color: #222c37;
}
.tt_black .tt_text {
    background: #2a3742;
    color: #cdd6f4;
}
hr {
    border-top: none;
}
.audio_promo {
    display: none;
}
.MEAppConfig {
    --messageBorderRadius: 24px;
    --mediaAttachBorderRadius: 24px;
    --attachArticleBorderRadius: 24px;
    --composerAttachBorderRadius: 24px;
}
body {
    --vkui--size_border_radius--regular: 24px;
    --vkui--size_border_radius_rounded--regular: 24px;
    --vkui--size_border_radius_paper--regular: 24px;
    --vkui--size_check_border_radius--regular: 24px;
    --vkui--size_card_border_radius--regular: 24px;
}
body.redesign_web {
    --catalog-section-border-radius: 24px;
}
#page_header_cont {
    border-radius: 0 0 24px 24px;
    border: none;
}
.vkuiSpacing,
.vkuiGroup__separator,
.vkuiGroup__separator--spacing,
.vkuiGroup--mode-card+.vkuiGroup__separator--spacing,
.vkuiPanelHeader {
    margin: -3px;
}
.LeftMenuItem-module__item--XMcN9,
.vkmListHeader__button,
:where(.ActionsMenu),
.ActionsMenuAction--size-regular,
.SearchResults-module__root--mnxjb,
.top_notify_wrap.layer_place,
#audio_layer_tt,
.EcosystemServicesNavigationDropdown_popout__NYAnq,
.EcosystemServicesNavigationBaseItem_icon__x0vZr::after,
#top_profile_menu.top_profile_menu_react,
.ui_search_fltr,
.result_list ul li,
.big.selector_container.selector_focused table.selector_table,
.Slider-module__root--_8EdI,
.top_notify_cont .feedback_row:not(.dld).hover, .top_notify_cont .feedback_row:not(.dld):hover,
.top_notify_show_all:hover,
.notify_sources_tt_content,
.tt_default,
.tt_default_right,
.audio_pl_item2 .audio_pl__cover,
.audio_pl__actions_wrap,
.MusicAuthor__playButton,
.vkuiImageBase,
.video_item .video_item_thumb,
.video_item .video_item_thumb_wrap,
.video_thumb_actions,
.video_thumb_label,
.ap_layer_wrap .ap_layer__content,
.audio_pl_snippet2,
.audio_pl_snippet2:last-child,
.page-group-actions .page-group-action,
.redesigned-group-main-action:hover,
.narrow_column.narrow_redesign .page_photo.page_action_menu_groups .PageActionCell,
.Pz6oeKouv4v2NV4X,
.f6_Sg6L_FH1PvbOs,
.AudioSnippetBanner__image,
.RecomsPlaylist__content,
.RecomsPlaylist__cover,
.RecomsPlaylist__actions,
.VibeRecomsPlaylist__content,
.VibeRecomsPlaylist__image_wrapper,
.RecommendedPlaylist__actions,
.RecommendedPlaylist__top,
.RecommendedPlaylist,
.RecommendedPlaylist__backdrop--colors,
.RecommendedPlaylist__backdrop,
.AudioRadiostationItem__actionsContainer,
.AudioRadiostationItem__banner,
.BannerItem--viewType-promo_banners_slider .Banner__backgroundImage,
.PhotoPrimaryAttachment,
.MediaGrid__imageElement,
.image_cover,
.ConvoAttachPhoto__img,
.ConvoAttachesPhotos__item,
.ConvoAttachesVideoItem__preview,
.ConvoAttachesLinks__itemContainer,
.AttachWallNew__donut,
.AttachWallNew__deleted,
.AttachWallNew__link--post,
.DateSeparator,
.MediaViewerPhoto__imgView,
div.wdd.wdd_focused,
.ConvoHeader__action,
.sTpn2Kx9DZpQUest,
.BurgerMenu__button,
.MEConfig button,
.OwnerContentTabPhotos__itemsWrapper,
.PostBottomAction--withBg,
.tt_black .tt_text,
.deep_active .replies .reply_fakebox,
.deep_active .wl_replies_block_wrap .reply_fakebox,
.deep_active.wall_module .replies .reply_fakebox,
.deep_active.wall_module .wl_replies_block_wrap .reply_fakebox,
.deep_active .replies .reply_field_wrap .reply_field,
.deep_active .wl_replies_block_wrap .reply_field_wrap .reply_field,
.deep_active.wall_module .replies .reply_field_wrap .reply_field,
.deep_active.wall_module .wl_replies_block_wrap .reply_field_wrap .reply_field,
.deep_active .replies .wl_reply_form_wrap .reply_field_wrap .reply_field,
.deep_active .wl_replies_block_wrap .wl_reply_form_wrap .reply_field_wrap .reply_field,
.deep_active.wall_module .replies .wl_reply_form_wrap .reply_field_wrap .reply_field,
.deep_active.wall_module .wl_replies_block_wrap .wl_reply_form_wrap .reply_field_wrap .reply_field,
.ConvoMain__composerContent,
.ConvoComposer__stickersPanel,
.MessageReactionPickerExtended,
.ConvoStack,
.ConvoHistory__flowStack,
.StickerEmojiMenuPopper__content,
body .reply_author_label,
.app_widget_image,
.app_widget_list_cover_gradient,
.groups-redesigned-info-rows .page_list_module .line_cell,
.groups-redesigned-info-rows .page_list_module .line_cell:first-child,
.group-redesigned-narrow.narrow_column .page_list_module .line_cell:not(.page_single_app),
.group-redesigned-narrow.narrow_column .page_list_module .line_cell:not(.page_single_app):first-child,
#group_section_menu.redesigned-group-menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item .groups_menu_item_image .groups_menu_item_image_content,
#group_section_menu.redesigned-group-menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item .groups_menu_item_image::after,
#group_section_menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item:hover,
.ui_gallery_wall_cards .wall_card,
.redesigned-group-subscribed--button:hover,
#wk_box.wk_info_content .group-info-box,
#pv_more_acts_tt,
#pv_more_acts_tt .pv_more_act_item:hover,
.pv_more_act_item_sep,
.group-redesigned-narrow.narrow_column .module_body .people_cell,
.group-tab-photos,
.StoryPreviewContainer,
.NarrativeEditorDataPanel__nameInput,
.StoryArchivePreview__linkBtn,
.eltt.feature_intro_tt,
.eltt,
.Post__copyrightButton:hover,
.photos_container_albums .photos_album_thumb,
.photos_container_albums .photos_album_title_wrap,
.photos_choose_row,
.flist_item_wrap:hover,
.im-chat-input .im-chat-input--textarea:not(.im-chat-input_open-keyboard):not(.im-chat-input_close-keyboard):not(.im-chat-input--textarea_show-templates) .im-chat-input--text,
.im-chat-input .im-chat-input--txt-wrap,
.im-chat-input .im-chat-input--text,
.TemplatesDropDown__container {
    border-radius: 24px;
    border: none;
}
.SecondaryAttachmentAvatar,
.SecondaryAttachmentAvatar--shadow::after,
.vkuiImageBase__img,
.OwnerContentTabAudiosItem__coverImage,
.AvatarRich--shadow::after,
.AttachAudio__album,
.AttachmentCell__imageBlockContainer--square .AttachmentCell__imageBlockBackground,
.AttachmentCell__imageBlockContainer--square .AttachmentCell__imageBlock,
.AttachmentCell__imageBlockContainer--square .AttachmentCell__imageBlock::after {
    border-radius: 50%;
    border: none;
    box-shadow: none;
}
.audio_pl_snippet2 .audio_pl_snippet__header {
    border: none;
}
.AudioRadiostationItem__banner,
.ConvoComposer__stickersPanel {
    box-shadow: none;
}
.redesign_web .RecommendedPlaylist,
.vkuiImageBase__border,
.vkuiImageBase,
.OwnerContentTabAudiosPlaylistsItem__cover,
.OwnerContentTabAudiosItem__cover,
#group_section_menu .module_body .ui_gallery .ui_gallery_item .groups_menu_item:hover {
    background: none;
    border:none;
}
.ap_layer .audio_pl_snippet2 .audio_pl_snippet__button_play,
.ap_layer .audio_pl_snippet2 .audio_pl_snippet__cover {
    border-radius: 24px 0 0 0;
}
.ui_search_new .ui_search_input_inner {
    border-radius: 24px 0 0 24px;
}
.ui_search_new .ui_search_button_search {
    border-radius: 0 24px 24px 0;
}
.StoryPreviewContainer {
    --preview-border-radius: 24px;
}
.vkuiButton__in,
.FlatButton__in,
.vkuiButton--mode-secondary,
.vkuiButton__in--GoeBI,
.vkuiButton--mode-primary.vkuiButton--appearance-accent,
.vkuiButton--mode-primary.vkuiButton--appearance-accent.vkuiButton--hover,
.redesigned-group-info__actions .FlatButton+.FlatButton,
.redesigned-group-info__actions .FlatButton+.page-group-actions,
.redesigned-group-info__actions .FlatButton.redesigned-group-action--more,
.group-empty-tab__buttons .FlatButton--size-m,
.group-tab-buttons .FlatButton--size-m,
.FlatButton--size-m,
.FlatButton--primary,
.FlatButton--primary:not(.disable):hover,
.FlatButton--secondary,
.FlatButton--secondary:not(.disable):hover,
.FlatButton--positive,
.FlatButton--positive:not(.disable):hover,
.photos_choose_upload_area,
.photos_choose_upload_area:hover,
.page-cover-actions-btn,
.vkuiButtonGroup--mode-horizontal.vkuiButtonGroup--gap-m>:not(:last-child),
.Button--size-m:not(.Button--link),
.Button--secondary:not(.Button--disabled):hover,
.Button--secondary:not(.Button--disabled):focus {
    background: #2a3742;
    color: #cdd6f4;
    border-radius: 24px;
    border: none;
}
.groups_cover_box .groups_edit_cover_wrap .groups_edit_cover_wrap_main_wrap,
.groups_cover_box .groups_edit_cover_wrap .groups_edit_cover_wrap_live .groups_edit_cover_wrap_live_previews .groups_edit_cover_wrap_live_upload.disabled .groups_edit_cover_wrap_live_upload_placeholder_disabled,
.groups_cover_box .groups_edit_cover_wrap .groups_edit_cover_wrap_live .groups_edit_cover_wrap_live_previews .groups_edit_cover_wrap_live_upload .groups_edit_cover_wrap_live_upload_placeholder_enabled {
    border-radius: 24px;
}
